body {font-family: Arial, Helvetica, sans-serif;}

h2 a{
  text-decoration: none;
  color: seagreen;
}

a{text-decoration: none;}

p {font-size: 20px;}

.filmes-hoje {color: darkred;}

.filmes-amanha {color: darkblue;}